* {
  margin: 0;
  padding: 0;
}

nav{
    margin-top: 2%;
}
.logo {
  width: 10vh;
  height: 10vh;
}

body {
  background-color: #f8f9fa !important;
}

.container {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.sideBar {
  background-color:  rgb(30 41 51);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sideBar img {
  margin-top: 20%;
  margin-left: 20%;
  margin-bottom: 90%;
}

.sideBar a {
    width: 100%;
    height: 15%;
    text-decoration: none;
    color: white;
  }

.sideBar a div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  box-sizing: border-box;
}
.sideBar a:hover span{
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 20%;
}
.sideBar a:hover i{
   display: none;
}

.sideBar a div span {
  width: 2%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.301);
  overflow: hidden;
  padding-left: 5%;
  box-sizing: border-box;
  font-size: 1.5vh;
  padding-top: 5%;
  font-weight: bold;
  transition: .4s;
  transition-property: width;
}

.sideBar a div i {
  color: rgb(204, 204, 204);
  font-size: 2vw;
  margin-bottom: 100%;
  box-sizing: border-box;
  margin-left: 36%;
}

.col-left {
  width: 12% !important;
}

.col-right {
  width: 88% !important;
}

.box {
  width: 100%;
  height: 80%;
  box-sizing: content-box;
  margin-left: 5%;
  margin-top: 3%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  box-sizing: border-box;
  padding:5% 10%;
  background-color: white;

}

.box h3{
    margin-bottom: 7%;
}

.tooltip-main{background-color: #f00;}