.colRight
{
  margin: 0 !important;
  padding: 0 !important;


}

.colLeft{
  margin: 0 !important;
  padding: 0 !important;
  height: inherit;
}

.rowBody{
  height: 75% !important;
  margin-left: 5% !important;
  background-image: url(Pics/imageedit_1_6609208376.png);
  background-size: cover;
  
}

.box{
  margin: 0;
  clip-path:ellipse(100% 100% at 100% 30%);
  background-color:rgb(255 255 255 / 81%);
  height: 100%;
}

.subNav{
  margin-left: 5%;
}


nav{
  margin-top: 1%;
  margin-bottom: 1%;
}
